<div class="card container my-5 justify-content-between" style="width: 25rem;">
  <h3 class="card-title">Item Detail</h3>
  <div class="card-body">
    <div class="mb-3">
      <h4><%= @item.title %></h4>
      <h5>Description:</h5>
      <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione necessitatibus itaque error alias repellendus nemo </h6>
      <h3>Price: <%= @item.price %></h3>
      <%if @item.avatar.attached?%>
        <span class="">
          <%=image_tag @item.avatar, width: "350px"%>
        </span>
      <% end %>
    </div>
  </div>
</div>

